.black0{
    background-color: #181614;
    color: #77878f;
}
.black1{
    background-color: #322f2b;
    color: #77878f;
}
.green0{
    background-color: #e1efeb;
    color: #77878f;
}
.green1{
    background-color: #f0f7f5;
    color: #77878f;
}
.yellow0{
    background-color: #fff0cd;
    color: #77878f;
}
.yellow1{
    background-color: #fff8e7;
    color: #77878f;
}
